@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

body{
    font-family: 'Manjari', sans-serif;
}

:root {
    --theme: #00000;
}

.text-theme { color: var(--theme) !important; }
.border-theme { border-color: var(--theme) !important; }

.theme-pink{ --theme: #EAB0C8; }